<div class="page">
	<mat-card class="card">
		<h2 i18n="Contact page - Title">Contact</h2>
		<form class="form" [formGroup]="form">
		
			<mat-form-field class="full-width">
				<mat-label i18n="Contact form - name title">Your Name</mat-label>
				<input matInput required formControlName="name" i18n-placeholder="Contact form - name placeholder" placeholder="John Smith">
				<mat-error *ngIf="form.get('name').hasError('required')" i18n="Contact form - name required">
					Name is <strong>required</strong>
				</mat-error>
			</mat-form-field>

			<mat-form-field class="full-width">
				<mat-label i18n="Contact form - subject title">Subject</mat-label>
				<input matInput required formControlName="subject" i18n-placeholder="Contact form - subject placeholder" placeholder="Great Podcast!">
				<mat-error *ngIf="form.get('subject').hasError('required')" i18n="Contact form - subject required">
					Subject is <strong>required</strong>
				</mat-error>
			</mat-form-field>

			<mat-form-field class="full-width">
				<mat-label i18n="Contact form - email title">Email</mat-label>
				<input matInput formControlName="email" i18n-placeholder="Contact form - email placeholder" placeholder="Ex. pat@example.com" type="email" required>
				<mat-error *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')" i18n="Contact form - email invalid">
					Please enter a valid email address
				</mat-error>
				<mat-error *ngIf="form.get('email').hasError('required')" i18n="Contact form - email required">
					Email is <strong>required</strong>
				</mat-error>
			</mat-form-field>
		
			<mat-form-field class="full-width">
				<mat-label i18n="Contact form - message title">Message</mat-label>
				<textarea matInput formControlName="message" required i18n-placeholder="Contact form - message placeholder" placeholder="I had some ideas for the podcast..."></textarea>
				<mat-error *ngIf="form.get('message').hasError('required')" i18n="Contact form - message required">
					Message is <strong>required</strong>
				</mat-error>
			</mat-form-field>

			<button mat-raised-button type="submit" (click)="onSubmit()" i18n="Contact form - submit button">SUBMIT</button>
		</form>
	</mat-card>
</div>