<div class="hero" style="background-image: url(assets/hero/radio.jpg);">
	<div class="center_title user-select-none">
		<div class="center_image"><img src="assets/logo-transparent.png"></div>
		<h4>Medabrim</h4><br>
		<h4>Schlichut</h4>
		<p>THE podcast for Israeli expatriates around the world</p>
		<div class="button-list">
			<a mat-raised-button [routerLink]="['/about']">
				ABOUT
			</a>
			<a mat-raised-button [routerLink]="['/listen']" color="primary">
				LISTEN
			</a>
			<a mat-raised-button [routerLink]="['/contact']" color="accent">
				CONTACT
			</a>
		</div>
		<ec-podcast-apps></ec-podcast-apps>
	</div>
</div>