<div class="hero" style="{{ 'background-image: url(' + images.homeBack + ');' }}">
	<div class="center_title user-select-none">
		<div class="center_image"><img [src]="images.logoTrans"></div>
		<h4 i18n="Main title part 1" style="margin-bottom: 0;">Medabrim</h4><br>
		<h4 i18n="Main title part 2">Schlichut</h4>
		<p i18n="Subtitle for title in main page">THE podcast for Israeli expatriates around the world</p>
		<div class="button-list">
			<a i18n="About button in main page" mat-raised-button [routerLink]="['/about']">
				ABOUT
			</a>
			<a i18n="Listen button in main page" mat-raised-button [routerLink]="['/listen']" color="primary">
				LISTEN
			</a>
			<a i18n="Contact button in main page" mat-raised-button [routerLink]="['/contact']" color="accent">
				CONTACT
			</a>
		</div>
		<ec-podcast-apps></ec-podcast-apps>
	</div>
</div>