<mat-card class="card">
	<mat-card-header>
		<div mat-card-avatar class="header-image" style="{{ 'background-image: url(' + images.avatar + ');' }}"></div>
		<mat-card-title i18n="About page - Title of podcast">Medbarim Shlichut</mat-card-title>
		<mat-card-subtitle i18n="About page - Author of podcast">by Asi Aharonov PhD.</mat-card-subtitle>
	</mat-card-header>
	<img mat-card-image class="main-image" [src]="images.aboutBack" alt="Photo of Asi Aharonov">
	<mat-card-content>
		<p i18n="About - Description of the podcast">
			Welcome to the podcast Medabrim Shlichut (literally - Talking Mission) - the only podcast that gives a stage to Israeli Schlichim.<br>
			We interview past and present Schlichim who share their experiences with us.<br>
			A lot of their experiences are mutual, though many are unique.<br>
			Wether you consider going on a Shlichut, are on a Shlichut or were on a Shlichut - you will find here inspiration, important insights and useful tips through the Schlichim's stories.<br>
			Everywhere you are, in Israel or abroad, on foot or in your car - you are invited to listen to the podcast that talks with the Schlichim eye to eye
		</p>
	</mat-card-content>
	<mat-card-actions>
		<a mat-button [routerLink]="['/listen']" i18n="About page - listen link">LISTEN</a>
		<a mat-button [routerLink]="['/contact']" i18n="About page - contact link">CONTACT</a>
		<button mat-button (click)="copyShare()" i18n="About page - share button">SHARE</button>
	</mat-card-actions>
	<ec-podcast-apps></ec-podcast-apps>
</mat-card>