.card {
	margin: 1rem auto;
	width: 85%;
}

.header-image {
	background-size: cover;
	background-position: center;
	width: 70px;
	border-radius: 0;
}

mat-card-content p {
	text-align: justify;
}

.main-image {
	max-height: 30rem;
	object-fit: cover;
}