.example-spacer {
  flex: 1 1 auto;
}

a {
	text-decoration: none;
	color: inherit;
}

.flag {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	@media (max-width: 480px) {
		display: none;
	}
}

.too-long {
	@media (max-width: 280px) {
		display: none;
	}
}