<mat-card class="card">
	<mat-card-header>
		<div mat-card-avatar class="header-image" style="{{ 'background-image: url(' + images.avatar + ');' }}"></div>
		<mat-card-title i18n="Listen page - Title of podcast">Medbarim Schlichut</mat-card-title>
		<mat-card-subtitle i18n="Listen page - Author of podcast">by Asi Aharonov PhD.</mat-card-subtitle>
	</mat-card-header>
	<img mat-card-image [src]="images.listenBack" alt="Photo of Asi Aharonov">
	<mat-card-content *ngIf="episodes">
		<mat-accordion>
			<mat-expansion-panel *ngFor="let episode of episodes" hideToggle>
				<mat-expansion-panel-header class="user-select-none">
					<mat-panel-title class="expansion-header">
						<a mat-icon-button href="{{ episode.track }}" target="_blank" download>
							<mat-icon>get_app</mat-icon>
						</a>
						<button mat-icon-button (click)="playEpisode(episode)">
							<mat-icon class="mat-icon-rtl-mirror">play_arrow</mat-icon>
						</button>
						{{ episode.title.substring(0, 24) }}...
					</mat-panel-title>
					<mat-panel-description class="expansion-header">
						{{ formatSeconds(episode.duration) }} - {{ formatTimeAgo(episode.date) }}
					</mat-panel-description>
				</mat-expansion-panel-header>
				<p class="description"><strong>{{ episode.title }}</strong></p>
				<p class="description" [innerHTML]="episode.description"></p>
			</mat-expansion-panel>
		</mat-accordion>
	</mat-card-content>

</mat-card>