.card {
	margin: 1rem auto;
	width: 85%;
}

.header-image {
	background-size: cover;
	background-position: center;
	width: 70px;
	border-radius: 0;
}

.description {
	overflow-wrap: break-word;
}

.expansion-header {
	display: flex;
	align-items: center;
	&-full {
		flex: 1;
	}
	&-semi {
		flex: 0.3;
	}
}

.title-hide {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.main-image {
	max-height: 30rem;
	object-fit: cover;
}
