<mat-card class="card">
	<mat-card-header>
		<div mat-card-avatar class="header-image" [style]="'background-image: url(' + images.avatar + ');'"></div>
		<mat-card-title i18n="Title of podcast">Medabrim Shlichut</mat-card-title>
		<mat-card-subtitle i18n="Listen page - Author of podcast">by Asi Aharonov PhD.</mat-card-subtitle>
	</mat-card-header>
	<img mat-card-image [src]="images.listenBack" alt="Photo of Asi Aharonov" class="main-image">

	<mat-form-field class="example-form-field">
		<mat-label i18n="Search bar label">Search Episodes</mat-label>
		<input matInput type="text" [(ngModel)]="searchString" (keyup)="search()">
		<button mat-button *ngIf="searchString" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
			<mat-icon>close</mat-icon>
		</button>
		<button mat-button *ngIf="!searchString" matSuffix mat-icon-button aria-label="Search">
			<mat-icon>search</mat-icon>
		</button>
	</mat-form-field>

	<div *ngIf="online" style="margin-bottom:2rem;">
		<button mat-flat-button color="primary" (click)="episodeService.refreshPodcast()">
			<mat-icon class="mat-icon-rtl-mirror">refresh</mat-icon>
			<span i18n="Listen Page - Refresh Button">Refresh Episodes</span>
		</button>
	</div>

	<div *ngIf="!online" class="offline-notice">
		<h3 i18n="Listen page: offline notice title" style="margin-bottom:0;">
			You are watching an offline version of the podcast...
		</h3>
		<mat-icon class="mat-icon-rtl-mirror">cloud_off</mat-icon>
		<p i18n="Listen page: offline notice subtitle">
			Enjoy limited features until you connect back to the internet
		</p>
	</div>

	<button *ngIf="episodes && episodes.length > 0" mat-flat-button color="accent" (click)="episodeService.nextEpisode(episodes[0].track)" style="margin-bottom:2rem;">
		<mat-icon>play_arrow</mat-icon>
		<span i18n="Listen Page - Play All">Play Podcast</span>
	</button>

	<mat-card-content *ngIf="episodes">
		<mat-accordion>
			<div *ngFor="let episode of episodes" class="card-wrapper">

				<mat-expansion-panel class="gray-hover" 
					hideToggle (opened)="episodeService.toggleEpisodeOpen(episode)" (closed)="episodeService.toggleEpisodeOpen(episode)">
					<mat-expansion-panel-header class="height-free user-select-none" *ngIf="!episode.open">
						<mat-panel-title style="margin-top:2rem;margin-bottom:1rem;display:flex;"
						class="expansion-header expansion-header-full title-hide">
							<span [class.title-margin]="episode.progress >= episode.duration"
								[class.title-margin-right]="episode.progress >= episode.duration && isRTL">{{ episode.title }}</span>
							<span class="spacer"></span>&nbsp;
							<span *ngIf="episode.progress >= episode.duration" style="color:#52b788;"
								i18n="Listen Page - Completed notice"><strong>Completed</strong></span>
						</mat-panel-title>
					</mat-expansion-panel-header>
	
					<mat-expansion-panel-header style="display:flex;justify-content:space-between;padding:1rem;"
						class="height-free user-select-none">
						<ec-download-button *ngIf="deviceType === 'desktop'" [track]="episode.track" [downloaded]="episode.downloaded" [display]="episode.downloaded !== null && episode.downloaded !== undefined"></ec-download-button>
						<button mat-icon-button *ngIf="online || episode.downloaded" (click)="episodeService.playEpisode(episode)">
							<mat-icon>play_arrow</mat-icon>
						</button>
						<mat-panel-description style="flex:1;" class="expansion-header title-hide"
							[class.expansion-header-semi]="!episode.open" [class.expansion-header-full]="episode.open">
							{{ formatSeconds(episode.duration) }} - {{ formatTimeAgo(episode.date) }}
						</mat-panel-description>
					</mat-expansion-panel-header>
	
					<mat-expansion-panel-header *ngIf="episode.progress" style="padding:0;"
						class="height-free user-select-none">
						<mat-progress-bar mode="determinate"
							[color]="episode.progress >= episode.duration ? 'primary' : 'accent'"
							[value]="episode.progress * 100 / episode.duration"></mat-progress-bar>
					</mat-expansion-panel-header>
	
					<p class="description"><strong>{{ episode.title }}</strong> - {{ formatTime(episode.date) }}</p>
					<p class="description" [innerHTML]="episode.description"></p>
					<img class="description feature" [src]="episode.image">
					<p class="description">
					<a href="{{ episode.track }}" target="_blank" download i18n="Listen Page - Download Link">
						Download this episode as an audio file (MP3)
					</a>
					</p>
				</mat-expansion-panel>
			</div>
		</mat-accordion>
	</mat-card-content>

</mat-card>