.player {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.seek {
	flex: 1;
}

.seekbar {
	display: flex;
	align-items: center;
}

.small-seek {
	font-size: 1.5rem;
	color:  #3f3f3f;
	margin-bottom: 0;
}

.title {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.text-break {
	white-space: normal;
	max-width: 100%;
	margin-bottom: 0;
	text-align: justify;
}

.wrapper {
	margin-top: 12.8rem;
}

.title {
	&-collapse {
		@media (max-width: 480px) {
			display: none;
		}
	}

	&-un-collapse {
		@media (min-width: 479px) {
			display: none;
		}
	}
}

.full-title {
	display: none;
}
