<div class="wrapper" *ngIf="display">
	<div class="player user-select-none" *ngIf="display">
		<mat-toolbar style="height: inherit;" (click)="displayFullTitle = false;" [class.full-title]="!displayFullTitle">
			<p class="text-break" [title]="title">
				{{ title }}
			</p>
		</mat-toolbar>

		<mat-toolbar class="seekbar title-un-collapse" (click)="displayFullTitle = true;" [class.full-title]="displayFullTitle">
			<a *ngIf="current !== origin" mat-icon-button [routerLink]="['/listen']">
				<mat-icon>menu</mat-icon>
			</a>
			<span [title]="title" class="title">{{ title }}</span>
		</mat-toolbar>

		<mat-toolbar class="seekbar">
			<a *ngIf="current !== origin" mat-icon-button class="title-collapse" [class.full-title]="displayFullTitle" [routerLink]="['/listen']">
				<mat-icon>menu</mat-icon>
			</a>
			<span [title]="title" class="title title-collapse" (click)="displayFullTitle = true;" [class.full-title]="displayFullTitle">{{ title }}</span>
			<span class="spacer title-collapse" [class.full-title]="displayFullTitle"></span>
			
			<button mat-icon-button (click)="nextRate()">
				{{ rate }}x
			</button>
			<!-- Volume -->
			<button *ngIf="mute > 0" mat-icon-button class="mat-icon-rtl-mirror" (click)="unmuteMusic()">
				<mat-icon>volume_off</mat-icon>
			</button>
			<button *ngIf="mute === 0" mat-icon-button  class="mat-icon-rtl-mirror" (click)="muteMusic()">
				<mat-icon>{{ volumeIcon }}</mat-icon>
			</button>
			<mat-slider [disabled]="mute > 0" thumbLabel="true" min="0" max="100" step="1" [value]="volume" (change)="setVolume($event)"></mat-slider>

			<span class="spacer" [class.title-un-collapse]="!displayFullTitle"></span>
			<span class="spacer" [class.full-title]="!displayFullTitle"></span>
			<!-- close -->
			<button mat-icon-button (click)="closePlayer()">
				<mat-icon>close</mat-icon>
			</button>
		</mat-toolbar>

		<mat-toolbar class="seekbar mat-slider-real-ltr" dir="ltr">
			
			<!-- play/pause -->
			<ng-container *ngIf="!buffering">
				<button *ngIf="!playing" mat-icon-button (click)="playMusic()">
					<mat-icon>play_arrow</mat-icon>
				</button>
				<button *ngIf="playing" mat-icon-button (click)="pauseMusic()">
					<mat-icon>pause</mat-icon>
				</button>
			</ng-container>
			<ng-container *ngIf="buffering">
				<button mat-icon-button style="display:flex;justify-content:center;align-items:center">
					<mat-spinner [diameter]="24"></mat-spinner>
				</button>
			</ng-container>
			
			<button mat-icon-button (click)="previousEpisode()">
				<mat-icon>skip_previous</mat-icon>
				<!-- <mat-icon>{{ isRTL ? 'skip_next' : 'skip_previous' }}</mat-icon> -->
			</button>
			<button mat-icon-button (click)="back10Sec()">
				<mat-icon>replay_10</mat-icon>
				<!-- <mat-icon>{{ isRTL ? 'forward_10' : 'replay_10' }}</mat-icon> -->
			</button>
			<p class="small-seek">{{ formatSeconds(seek) }}&nbsp;</p>
			<mat-slider class="seek" min="0" [max]="duration" step="0.1" [value]="seek" (change)="setSeek($event)"></mat-slider>
			<p class="small-seek">&nbsp;&nbsp;{{ formatSeconds(duration) }}</p>
			<button mat-icon-button (click)="skip10Sec()">
				<mat-icon>forward_10</mat-icon>
				<!-- <mat-icon>{{ isRTL ? 'replay_10' : 'forward_10' }}</mat-icon> -->
			</button>
			<button mat-icon-button (click)="skipEpisode()">
				<mat-icon>skip_next</mat-icon>
				<!-- <mat-icon>{{ isRTL ? 'skip_previous' : 'skip_next' }}</mat-icon> -->
			</button>
		</mat-toolbar>
	</div>
</div>