<div class="big-nav">
	<div class="nav" [class.nav-rtl]="rtl">
		<mat-list>
			<ng-container *ngFor="let page of pages">
				<mat-list-item *ngIf="page.link !== current">
					<a [routerLink]="page.link">
						<mat-icon>{{ page.icon }}</mat-icon>&nbsp;&nbsp;{{ page.title[locale] }}
					</a>
				</mat-list-item>
			</ng-container>
		</mat-list>
	</div>
	<!-- <div [class.nav]="rtl" [class.nav-rtl]="!rtl">
		<mat-list>
			<mat-list-item class="flag-overall" *ngIf="otherLanguage" dir="{{ otherLanguage.dir }}">
				<a mat-icon-button class="flag" [style]="'background-image:url(/' + otherLanguage.flag + ')'"
					[href]="otherLanguage.link + formatLink()"></a>
				<a [href]="otherLanguage.link + formatLink()">&nbsp;&nbsp;{{ otherLanguage.name }}</a>
			</mat-list-item>
		</mat-list>
	</div> -->
</div>